<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICourseService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICourseService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CourseService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICourseService" contract="CourseServiceReference.ICourseService"
                name="BasicHttpBinding_ICourseService" />
            <endpoint address="net.tcp://localhost:8090/CourseService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICourseService" contract="CourseServiceReference.ICourseService"
                name="NetTcpBinding_ICourseService">
                <identity>
                    <userPrincipalName value="DESKTOP-EFOSC40\User" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>